<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> Artists - Administration </title>
    	<!-- Stylesheet - Dashboard -->
    	<link href="../custom/css/dashboard.css" rel="stylesheet">
    	<!-- Plugin - Datatable -->
    	<link href="../plugins/css/dataTables.dataTables.min.css" rel="stylesheet">
    	<!-- Plugin - Toastr -->
    	<link href="../plugins/css/toastr.css" rel="stylesheet">
    </head>
    <body id="body" class="sb-nav-fixed" style="display: none;">
        <!--begin::Topbar-->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand -->
            <a id="adm_topbar_homepage" class="navbar-brand ps-3" href="#"> Outside Eve </a>
            <!-- Sidebar Toggle -->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"> <i class="fas fa-bars"></i> </button>
            <!-- Navbar Search -->
            <form class="d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
                <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </form>
            <!--begin::User options-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul id="adm_user_options" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> </ul>
                </li>
            </ul>
            <!--end::User options-->
        </nav>
        <!--end::Topbar-->
        
        <div id="layoutSidenav">
            <!--begin::Sidebar-->
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"> Menu </div>
                            <div id="adm_sidebar"> </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small"> Logged in as: </div>
                        <div id="adm_user"> </div>
                    </div>
                </nav>
            </div>
            <!--end::Sidebar-->
            
            <div id="layoutSidenav_content">
                <!--begin::Body-->
                <main>
                    <div id="adm_body" class="container-fluid px-4">
                        <h1 class='my-4'> Artists </h1>
                        
                        <div class='card mb-4'>
                            <div class='card-header'>
                                <div class="row" style="display: flex; align-items: center;">
                                    <div class="col-10">
                                        <i class='fa-solid fa-masks-theater me-1'></i> Artists List
                                    </div>
                                    <div class="col-2 text-end">
                                        <button id='button_add' class='btn btn-primary text-white' type='button'> <i class='fa fa-plus'> </i> </button>
                                    </div>
                                </div>
                            </div>
                            <div id='adm_content' class='card-body'>
                                <div class="table-responsive">
                                    <table id="admin_artists_list" class="table table-striped table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th> ID </th>
                                                <th> Name </th>
                                                <th> Country </th>
                                                <th> City </th>
                                                <th> Category </th>
                                                <th> </th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!--end::Body-->
                
                <!--begin::Footer-->
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2024 </div>
                            <div>
                                <!-- <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a> -->
                            </div>
                        </div>
                    </div>
                </footer>
                <!--end::Footer-->
            </div>
        </div>
        
        <!--begin::Modal - Edit Artist-->
        <div class="modal modal-lg fade" id="admin_artists_edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="admin_artists_edit_title"> Edit Artist </h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body bg-light">
                        <form id="artist_edit_form">
                            <div class="row">
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_edit_id"> ID </label>
                                    <input class="form-control" placeholder="Write here..." type="text" id="artist_edit_id" name="artist_edit_id" readonly disabled>
                                </div>
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_edit_name"> Name </label>
                                    <input class="form-control" placeholder="Write here..." type="text" id="artist_edit_name" name="artist_edit_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_edit_location"> Location </label>
                                    <select class="form-select" id="artist_edit_location" name="artist_edit_location">
                                        <option value="0"> Loading options... </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_edit_category"> Category </label>
                                    <select class="form-select" id="artist_edit_category" name="artist_edit_category">
                                        <option value="0"> Loading options... </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="artist_edit_close" type="button" class="btn btn-outline-secondary"> Cancel </button>
                        <button id="artist_edit_save" type="button" class="btn btn-primary"> Edit artist </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal - Edit Artist-->
        
        <!--begin::Modal - Add Artist-->
        <div class="modal modal-lg fade" id="admin_artists_add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="admin_artists_add_title"> Add Artist </h5>
                    </div>
                    <div class="modal-body bg-light">
                        <form id="artist_add_form">
                            <div class="row">
                                <div class="col-12">
                                    <label class="small mb-1" for="artist_add_name"> Name </label>
                                    <input class="form-control" placeholder="Write here..." type="text" id="artist_add_name" name="artist_add_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_add_location"> Location </label>
                                    <select class="form-select" id="artist_add_location" name="artist_add_location">
                                        <option value="0"> Loading options... </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="small mb-1" for="artist_add_category"> Category </label>
                                    <select class="form-select" id="artist_add_category" name="artist_add_category">
                                        <option value="0"> Loading options... </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="artist_add_close" type="button" class="btn btn-outline-secondary"> Cancel </button>
                        <button id="artist_add_save" type="button" class="btn btn-primary"> Create artist </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal - Add Artists-->
        
        <!--begin::Modal - Delete Artist-->
        <div class="modal    fade" id="admin_artists_delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="admin_artists_delete_title"> Delete Artist </h5>
                    </div>
                    <div class="modal-body bg-light">
                        <div class="row">
                            <div class="col-12 text-center">
                                <i class="fas fa-exclamation-triangle fa-6x text-warning"> </i>
                                <br><br><br>
                                <h4 id="admin_artists_delete_question"> Are you sure you want to delete the artist with id? </h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="mx-auto">
                            <button id="artist_delete_no" type="button" class="btn btn-secondary" style="width: 100px"> No </button>
                            <button id="artist_delete_yes" type="button" class="btn btn-danger" style="width: 100px"> Yes </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal - Delete Artist-->
        
    	<!-- Bootstrap 5.3.3 - https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
        <script src="../assets/js/bootstrap.bundle.min.js" ></script>
    	<!-- Font Awesome Icons - https://use.fontawesome.com/releases/v6.5.2/js/all.js -->
        <script src="../assets/js/all.js" crossorigin="anonymous"> </script>
        <!-- jQuery 3.7.1 - https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js -->
        <script src="../assets/js/jquery.min.js"> </script>
        <!-- Script - Toggle Sidebar -->
    	<script src="../custom/js/dashboard.js"> </script>
        <!-- Script - Custom -->
        <script src="../controllers/admin_artists.js"></script>
        <!-- Plugin - Datatable -->
        <script src="../plugins/js/dataTables.min.js"></script>
        <!-- Plugin - Toastr -->
        <script src="../plugins/js/toastr.js"></script>
    </body>
</html>
