<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Login </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Stylesheet - Dashboard -->
    	<link href="../custom/css/dashboard.css" rel="stylesheet" />
    </head> 
    <body class="bg-secondary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <form method="post" id="register_form" name="register_form">
                        <div class="all_screen d-md-flex justify-content-md-center align-items-md-center">
                            <div class="register_center border rounded-3 p-md-5 bg-white shadow">
                                <h1 class="text-center mb-5 mt-md-3 mt-4">Create Account</h1>
                                <div class="form-group mx-auto my-3 w-75 text-center">
                                    <div id="erro" name="erro"></div>
                                </div>
                                <div class="form-group mx-auto w-75">
                                    <input type="text" id="inputEmail" name="inputEmail" class="form-control mx-auto p-2 shadow-sm" placeholder="Email address">
                                </div>
                                <div class="form-group m-auto w-75">
                                    <input type="text" id="inputUsername" name="inputUsername" class="form-control mx-auto mt-3 p-2 shadow-sm" placeholder="Username">
                                </div>
                                <div class="w-75 d-flex justify-content-between align-items-center m-auto">
                                    <div class="form-group me-3 w-75">
                                        <input type="text" id="inputFirstName" name="inputFirstName" class="form-control mt-3 mx-auto p-2 shadow-sm" placeholder="First name">
                                    </div>
                                    <div class="form-group w-75">
                                        <input type="text" id="inputLastName" name="inputLastName" class="form-control mt-3 mx-auto p-2 shadow-sm" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="w-75 d-flex justify-content-between align-items-center m-auto">
                                    <div class="form-group me-3 w-75">
                                        <input type="password" id="inputPassword" name="inputPassword" class="form-control mt-3 mx-auto p-2 shadow-sm" placeholder="Password">
                                    </div>
                                    <div class="form-group w-75">
                                        <input type="password" id="inputPasswordConfirm" name="inputPasswordConfirm" class="form-control mt-3 mx-auto p-2 shadow-sm" placeholder="Confirm password">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-4">
                                    <input type="submit" class="btn btn-primary shadow-sm w-75" id="register_submit" name="register_submit" value="Request account">
                                </div>
                                <div class="d-flex justify-content-center mt-2">
                                    <a href="#" id="register_have_account" class="text-decoration-none">Already have an account?</a>
                                </div>
                            </div>
                        </div>
                    </form>                    
                </main>
            </div>
        </div>
        <!-- Bootstrap 5.3.3 - https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
        <script src="../assets/js/bootstrap.bundle.min.js" ></script>
    	<!-- Font Awesome Icons - https://use.fontawesome.com/releases/v6.5.2/js/all.js -->
        <script src="../assets/js/all.js" crossorigin="anonymous"> </script>
        <!-- jQuery 3.7.1 - https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js -->
        <script src="../assets/js/jquery.min.js"> </script>
        <!-- Script - Toggle Sidebar -->
    	<script src="../custom/js/dashboard.js"> </script>
        <!-- Script - Custom -->
        <script src="../controllers/register.js"></script>
    </body>
</html>
